{% extends 'layout.html' %} {% block content %}
<main id="main">
  <p>Hello, and welcome to CS235 Netflix. Here you can log in, register an account and also browse movies based on genre, actors and directors.
  Below is an exerpt from wikipedia about Netflix, the company for whom this assignment was based on. </p>
  <br />
  <p>
Netflix, Inc. is an American technology and media services provider and production company headquartered
    in Los Gatos, California. Netflix was founded in 1997 by Reed Hastings and Marc Randolph in Scotts Valley, California.
    The company's primary business is its subscription-based streaming service which offers online streaming of a library of films and
    television series, including those produced in-house.
  </p>
  <br />
  <p>
As of April 2020, Netflix had over 193 million paid subscriptions worldwide, including 73 million in the United States.
    It is available worldwide except in the following: mainland China (due to local restrictions), Syria, North Korea, and Crimea
    (due to U.S. sanctions). The company also has offices in France, the United Kingdom, Brazil, the Netherlands, India, Japan, and South Korea.
    Netflix is a member of the Motion Picture Association (MPA). Today, the company produces and distributes content from countries all over the globe.
  </p>
  <br />

  <p>
Netflix's initial business model included DVD sales and rental by mail, but Hastings abandoned
    the sales about a year after the company's founding to focus on the initial DVD rental business.
    Netflix expanded its business in 2007 with the introduction of streaming media while retaining the DVD and Blu-ray rental business.
    The company expanded internationally in 2010 with streaming available in Canada,[19] followed by Latin America and the Caribbean.
    Netflix entered the content-production industry in 2013, debuting its first series House of Cards.
  </p>
  <p style="text-align: right; font-style: italic;">
    Wikipedia
  </p>
</main>
{% endblock %}
